*{
   margin:0;
   padding:0;
   text-decoration:none;
}

a:visited
{
    color:inherit;
}

html, body 
{
    font-family:Segoe UI Light, "FontTheme", Impact, helvetica;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    background: url("../Images/bg1.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width:1005px;
    height:100%;
    z-index:-2;
}

a img 
{
    border: none;
}

.Transparent
{
    background-image:url('../Images/column.png');
    background-repeat: repeat;
}

.FadeIn
{
    opacity:0;
}

.Banner
{
    width:100%;
    color:White;
    background:Teal;
    box-shadow: 10px 10px 5px #000;
}

.SocialBanner
{
    float:left;
    text-align:right;
    height:100px;
    width:350px;
    color:White;
    border-bottom-right-radius:15px;
    border-top-right-radius:15px;
}

.BannerText
{
    position:relative;
    left:-3px;
    color: White;
    background:Teal;
    font-size: 28pt;
    font-weight: normal;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(0,0,0,1);
    text-transform: uppercase;
}

.MenuItem
{
    color:Gold;
}

.MenuItem:hover
{
    background:Teal;
}

.SocialIcon
{
    height:95px;
}

.SocialHandle
{
    text-align:center;
    text-transform:none;
    color:Gold;
}

.FeedContent
{
    text-align:center;
    text-transform:none;
    font-size:14px;
}

.AboutMeSection
{
    color:Teal;
}

#SiteWrapper
{
    width:99%;
}

#Navigation
{
    width:400px;
    height:100%;
}

#MainNav
{
    position:absolute;
    width:340px;
    height:250px;
    left:10px;
    float: left;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    text-align:right;
    z-index:1;
}

#Wall
{
    position:absolute;
    left:500px;
    width:650px;
    padding-bottom:70px;
    float:right;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    color:White;
    z-index:1;
}

#NameBanner
{   
    position:absolute;
    top:50px;
}

#AboutMeContent
{
    position:relative;
    top:75px;
    height:400px;
    border-radius:15px;
    color:Teal;
}

#SectionBanner
{
    position:relative;
    top:50px;
}

#Experience
{
    margin-top:30px;
    text-transform:none;
    color:White !important;
    font-family:Segoe UI;
    width:100%;
    text-align:center;
}

#Nicknames
{
    text-align:center;
    color:Gold;
    font-size:24px;
}

#Background
{
    padding-top:30px;
    color:White;
    text-transform:none;
    text-align:center;
    font-family:Segoe UI Light;
}

h1#Name
{
    position:relative;
    left:-3px;
    color: White;
    background:Teal;
    font-size: 28pt;
    font-weight: normal;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(0,0,0,1);
    text-transform: uppercase;
}

h2#Section
{
    position:relative;
    left:-3px;
    color: White;
    background:Teal;
    font-size: 28pt;
    font-weight: normal;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(0,0,0,1);
    text-transform: uppercase;
}

#MenuTable
{
    color:Teal;
    position:absolute;
    top:115px;
    width:100%;
    padding-top:10px;
    padding-right:10px;
    text-align:center;
    font-size:20px;
}

#Mail
{
    position:absolute;
    top:305px;    
}

#TwitterFeed
{
    position:absolute;
    top: 425px;
}

#TumblrFeed
{
    position:absolute;
    top: 545px;
}

#Linkedin
{
    position:absolute;
    top: 665px;
}

#HireInfo
{
    color:White;
    position:absolute;
    top:400px;
}

#ContactTable
{
    position:absolute;
    text-align:center;
    top:10px;
    width:100%;
    margin-top:15px;
    margin-left:auto;
    margin-right:auto;
}

h1#HireMeTitle
{
    padding-top:40px;
    padding-bottom:25px;
    font-size:20px;
    margin-right:5px;
}

#Footer
{
    position:fixed;
    bottom:0;
    color:White;
    font-size:10px;
    width:97%;
    text-align:right;
    margin-left:auto;
    margin-right:auto;
    z-index:2;
}
